

<div class="container">
    <h2>Editing selected test</h2>
    <!-- TestDescriptions input -->
    <form role="form" class="form-inline"  ng-submit="editTest()">

        <input ng-model="testName" type="text" placeholder="Edit test's name"
               class="form-control input-xxlarge">
        <input ng-model="maxTimeToPassInMinutes" type="text" placeholder="Edit max time"
               class="form-control input-mini">
        <input type="submit" class="btn btn-primary" value="Edit test">

    </form>

    <p> </p>
    <button class="btn btn-default" ng-click="getAllTests()" aria-label="Get">Get all tests</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th data-field="testDescriptionId" data-align="right">ID</th>
            <th data-field="dateOfCreation" data-align="center">Date creation</th>
            <th data-field="testName" data-align="center">Test name</th>
            <th data-field="maxTimeToPassInMinutes" data-align="left">Minutes todo</th>
        </tr>
        </thead>
        <tbody ui-sortable ng-model="tests"><tr ng-repeat="test in tests" style="padding:5px 10px; cursor: move;"
                                                ng-click="setSelected($index)" ng-class="{'info':$index == index}">
            <td>{{test.testDescriptionId}}</td>
            <td>{{test.testName}}</td>
            <td>{{test.maxTimeToPassInMinutes}}</td>
            <td>{{test.dateOfCreation | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        </tr></tbody>
    </table>
    <button class="btn btn-small btn-primary">Edit selected test</button>
    <button class="btn btn-small btn-danger">X</button>
</div>