<div class="container">
    <h2>Sign in</h2>
    <div class="form-group col-xs-6">
        <label for="usr">Name:</label>
        <input ng-model="userLogin" type="text" class="form-control" placeholder="Login" id="usr">
        <label for="pwd">Password:</label>
        <input ng-model="userPassword" type="password" class="form-control" placeholder="Password" id="pwd">
    </div>
    <div class="col-xs-12">
        <h3>Passing {{selectedTest.testName}} test. Time left: {{counter}} minutes</h3>
        <hr>
    </div>
    <div class="col-xs-12" ng-model="userAnswers" ng-repeat="question in userAnswers">
        <h4>{{$index+1}}. {{question.question}}</h4>
        <div ng-repeat="answer in question.variantsOfAnswer">
            <p class="col-xs-10">{{$index+1}}) {{answer.variantOfAnswer}}</p>
            <input class="col-xs-1" class="col-xs-1" type="checkbox" ng-model="answer.correct">Correct
            <hr>
        </div>
    </div>
    <div class="col-xs-12">
        <br>
        <button class="btn btn-small btn-primary" ng-disabled="checked" ng-click="finishTest()">Finish test</button>
    </div>


</div>