<div class="container">
    <h2>Editing selected test</h2>
    <!-- TestDescriptions input -->
    <form role="form" class="form-inline"  ng-submit="editTest()">
        <input ng-model="selectedTest.testName" type="text" placeholder="Edit test's name"
               class="form-control input-xxlarge">
        <input ng-model="selectedTest.maxTimeToPassInMinutes" type="text" placeholder="Edit max time"
               class="form-control input-mini">
        <input type="submit" class="btn btn-primary" value="Submit edition">
    </form>

    <p> </p>

    <h4>Questions of this test:</h4>
    <table class="table table-striped" ng-table="existingQuestionsOfTest">
        <thead>
            <tr>
                <th data-field="questionAnswerId" data-align="right">№</th>
                <th data-field="question" data-align="left">Question</th>
                <th data-align="center">Remove from test</th>
            </tr>
        </thead>
        <tbody ui-sortable ng-model="questionsOfTest">
            <tr ng-repeat="question in questionsOfTest" style="padding:5px 10px; cursor: move;"
                ng-click="setSelectedExistingQuestion($index)" ng-class="{'info':$index == index}">
                <td>{{$index}}</td>
                <td>{{question.question}}</td>
                <td><button class="btn btn-small btn-danger" ng-click="removeSelectedExistinqQuestion()">X</button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <hr>
    <div  class="col-xs-12">
        <h4>Add new question to test:</h4>
        <select class="col-xs-10" multiple ng-multiple="true"
                ng-model="selectedAllQuestions"
                ng-options="question.question for question in allQuestions">
        </select>
        <button class="btn btn-default col-xs-2" ng-click="addExistingQuestionsToTest()">Add to test&gt;&gt;</button>
    </div>
    <br>
    <hr>
    <div class="col-xs-12">
        <h4>Create new question and add to test:</h4>
        <input class="col-xs-12" type="text" placeholder="Enter the question" ng-model="newQuestion.text">
        <br>
        <br>
        <div class="form-group" data-ng-repeat="answer in newQuestion.answers">
            <input class="col-xs-10" type="text" placeholder="Enter the answer" ng-model="answer.answerText">
            <input class="col-xs-1" type="checkbox" ng-model="answer.answerCorrect">Correct
        </div>
        <button class="btn btn-default" ng-click="addNewAnswer()">Add new answer&gt;&gt;</button>
        <div>
            <br>
            <button class="btn btn-small btn-primary" ng-click="addNewQuestionToTest()">Add new question to test</button>
        </div>

    </div>
</div>